{% extends "base.html" %}

{% block content %}

<main class="flex main">

    <!-- GOALS START -->

    <div class="main__container main__large-container">
        <h1 class="heading--primary mb-10">
            Goals
        </h1>
        {% for badge, progress in locked_badges %}
        <div class="flex flex-wrap mb-20 br-5 goal">
            <div class="flex vertical-center goal__info">
                <div class="container">
                    <img src="/media/{{badge.image}}" class="badge-image goals__badge-image"></img>
                </div>
                <div class="ml-10 container">
                    <h3 class="mb-5 heading--secondary goal__title">{{badge.name}}</h3>
                    <div class="goal__description">{{badge.short_description}}</div>
                </div>
            </div>
            <div class="mt-10 ml-10 goal__progress-count">{% if progress.progress %} {{ progress.progress }} {% else %} 0 {% endif %} / {{badge.max_progress}} {{ badge.unit }}</div>
            <div class="flex vertical-center w-100 mt-5 goal__progressbar-container">
                {% comment %} <div class="mr-10 pad-2 goal__progressbar"></div> {% endcomment %}
                <progress class="mr-10 pad-2 goal__progressbar" id="file" value="{{ progress.progress }}" max="{{badge.max_progress}}"> 
            </progress>
            </div>
        </div>
        {%endfor%}
    </div>

    <!-- GOALS END -->

    <hr class="vertical-separator main__vertical-separator"/>

    <!-- BADGES START -->

    <div class="main__container main__small-container">
        <div class="container badge-container">
            <h1 class="heading--primary mb-10">
                Badges
            </h1>
            <div class="flex flex-wrap vertical-center mt-10 container">
                {% for badge in unlocked_badges %}
                <div class="flex horizontal-center vertical-center ml-0 mr-10 pad-10 pl-0 br-5 achievement__badge" title="{{badge.name}}">
                    <img src="/media/{{ badge.image }}" class="badge-image" alt="{{ badge.name }}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- BADGES END -->

</main>

<div id="badge_card" class="flex horizontal-center vertical-center hidden full-container">
    <div class="br-5 pt-20 pb-0 bg-white card-container">
        <img src="rockstar50.png" class="badge-image" alt="Perk image">
        <div class="card-details">
            <div class="mb-5 container">
                <h3 class="mb-3 heading--secondary">
                    Badge Name
                </h3>
                <div class="normal-text">
                    Badge detail Lorem ipsum dolor, sit amet consectetur 
                </div>
            </div>
            <div class="mt-20 container">
                <h3 class="heading--secondary">You own this badge!</h3>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleBadgeCard () {
        document.getElementById("badge_card")
    }
</script>

{% comment %} 

<h2>In Progress</h2>

<ul>

{% for badge, progress in locked_badges %}

<li>

    <div>
        <div>
            <p>
                Badge image: <img src="/media/{{ badge.image }}" />
            </p>
            <p>
                Badge name: {{ badge.name }}
            </p>
        </div>

        {% if progress is None %}
        <button>Check progress</button>
        {% else %}
        <div>Progress: {{ progress.progress }} / {{ badge.max_progress }}</div>
        {% endif %}

    </div>
    
</li>

{% endfor %}

</ul>

<h2>Completed Badges</h2>

<ul>

{% for badge in unlocked_badges %}

<li>
    <div>
        {{ badge.image }}
        {{ badge.name }}
    </div>
</li>

{% endfor %}

</ul>
 {% endcomment %}

{% endblock %}
