{%extends "base.html" %}

{%block extra_body %}
<main class="flex flex-wrap w-60 main">
    {% if user.is_authenticated and perk_won %}
    <div style="font-weight: 900; color: #4ade80; mb-15; width: 100%; font-size: 1.2rem; margin-bottom: 20px;">You have won this perk! See below for the next steps</div>
    {% endif %}

    <div class="flex flex-wrap horizontal-center mr-50 main__container main__small-container">
        <div class="mb-20">
            <img src="/media/{{ perk.image }}" class="br-5 perk-info-image" alt="Image of perk" />
        </div>
    </div>

    <div class="main__container perk-info__container-right">
        
        <div class="container perk-info-container">
            <h1 class="heading--primary mb-5 perk-name">
                {{ perk.name }}
            </h1>

            <div class="flex vertical-center perk-sponsor">
                <div class="sponsor-name">{{perk.creator.username}}</div>    
            </div>

            <div class="mb-10 mt-10 perk-short-description">                       
                {{perk.short_description}} 
            </div>

            {% if user.is_authenticated and not perk_won %}
            <a href="/perks/"><button type="button" class="btn mar-0 mr-auto">Claim Now</button></a>
            {% endif %}

            <div class="mt-20 container badge-container">
                <h1 class="heading--secondary">
                    Required Badges
                </h1>
                <div class="flex flex-wrap vertical-center container">
                    {% for badge in perk.required_badges.all %}
                        <div class="flex horizontal-center vertical-center ml-0 mr-10 br-5 badge">
                            <img src="/media/{{ badge.image }}" class="badge-image" />
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        
    </div>
    <hr class="mt-20 w-100 horizontal-separator" />
    
    <div class="mt-20 perk-long-description">
       {{perk.long_description}}
    </div>

    <div class="mt-20 perk-long-description">
        <p>
            <b>This text is only visible to those who have won this perk. This contains the next steps on claiming
                the perk.</b>
        </p>
       {{perk.restricted_text}}
    </div>
</main>
{%endblock%}
