@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

:root {

}

::selection {

}

/* COMMON CLASSES START */

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.pad-2 {
    padding: 2px;
}

.br-5 {
    border-radius: 5px;
}

.heading--primary {
    margin-bottom: 10px;
}

.vertical-separator {
    border: none;
    border-right: 1px solid grey;
}

/* COMMON CLASSES END */


/* HEADER STARTS */

.header {
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 1px 1px 10px rgba(92, 89, 89, 0.336);
}

.logo-container {
    width: 135px;
}

.container__header-right {
    height: 100%;
}

.navbar {
    height: 100%;
}

.navbar__item {
    height: 100%;
    margin-left: 15px;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.navbar__item--active {
    border-bottom: 4px solid blue;
}

.header__vertical-separator {
    height: 30px;
    margin-left: 15px;
}

.header__profile {
    justify-content: space-around;
    margin-left: 10px;
}

.header__profile-image__container {
    margin-left: 10px;
}

.header__profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100px;
}

/* HEADER ENDS */


/* MAIN BODY STARTS */

.main {
    justify-content: space-around;
    max-width: 80em;
    margin: 50px auto 0 auto;
}

.main__container {
    margin: 0 60px;
}

.main__left-container {
    width: 70%;
}

.main__right-container {
    width: 30%;
}

.goal {
    padding: 10px;
    background-color: bisque; /* temporary */
}

.goals__badge-image {
    width: 100px;
}

.goal__progressbar-container {
    margin: 10px 0px 5px 10px;
}

.goal__progressbar {
    width: 85%;
    height: 15px;
    border: 2px solid red;
    background-color: blue;
}

.badge {
    width: 30%;
    max-width: 100px;
    aspect-ratio: 1;
    background-color: #f0abfc;
    margin: 5px; /* temporary */
}

/* MAIN BODY ENDS */