@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

:root {

}

::selection {

}

body {
    background-color: #F3F4F6;
}

/* COMMON CLASSES START */

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.bg-white {
    background-color: white;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.main {
    justify-content: space-around;
    max-width: 80em;
    margin: 50px auto 50px auto;
}

.heading {
    width: 100%;
    font-weight: 700;
}

.heading--primary {
    font-size: 1.5em;
}

.heading--secondary {
    font-size: 1.1em;
    font-weight: 700;
}

.heading--sub {
    font-size: 1em;
    font-weight: 500;
    color: rgb(146, 146, 146);
}

.normal-text {
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.card-container {
    position: relative;
    max-width: 21em;
    padding: 10px 0 10px 0;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    background-color: white;
    border: 1px solid grey;
    border-radius: 100px;
}

.btn {
    display: block;
    width: 90px;
    margin: 0 auto 0 auto;
    padding: 10px;
    background-color: #3B82F6;
    color: #f3f4f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    border: none;
}

.horizontal-separator {
    height: 1px;
    width: 90%;
    border-bottom: 1px solid grey;
}

.vertical-separator {
    border-right: 1px solid grey;
}

.main__vertical-separator {
    margin: 0 60px;
}

.card-details {
    padding: 20px;
}

.full-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

/* COMMON CLASSES END */


/* HEADER STARTS */

.header {
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 1px 1px 10px rgba(92, 89, 89, 0.336);
}

.logo-container {
    width: 135px;
}

.container__header-right {
    height: 100%;
}

.navbar {
    height: 100%;
}

.add-perk {
    padding: 10px;
    background-color: #6366F1;
    color: #f3f4f6;
}


.navbar__item {
    height: 100%;
    margin-left: 15px;
    transition: color 300ms;
}

.navbar__item:hover {
    color: #6366F1;
}

.add-perk:hover {
    color: #f3f4f6;
}

.navbar__item--active {
    color: #6366F1;
}

.header__vertical-separator {
    height: 30px;
    margin-left: 15px;
}

.header__profile {
    justify-content: space-around;
    margin-left: 10px;
}

.header__profile-image__container {
    margin-left: 10px;
}

.header__profile-image {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100px;
}

/* HEADER ENDS */


/* MAIN BODY (Achievements) STARTS */

.main__container {
    /* margin: 0 60px; */
}

.main__large-container {
    width: 70%;
}

.main__small-container {
    width: 30%;
}

.goal {
    padding: 10px;
    background: white; /* temporary */
    box-shadow: 1px 1px 10px rgba(90, 90, 90, 0.4);
}

.goals__badge-image {
    width: 100px;
}

.goal__progressbar-container {
    margin: 10px 0px 5px 10px;
}

.goal__progressbar {
    width: 85%;
    height: 25px;
}

.goal__progress-count {
    flex: 100%;
}

.achievement__badge {
    width: 30%;
    max-width: 100px;
    aspect-ratio: 1;
}

.badge {
    width: 30%;
    width: 64px;
    aspect-ratio: 1;
    margin: 5px; /* temporary */
}

/* MAIN BODY (Achievements) ENDS */


/* PERK CARD STARTS */

.perk__main {
    justify-content: space-around;
}

.perk-container {
    box-shadow: 1px 1px 10px rgba(90, 90, 90, 0.4);
    transition:  box-shadow 300ms;
}

.perk-container:hover {
    box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.4);
}

.sponsor-logo {
    width: 25px;
}

.sponsor-name {
    font-size: 1.1em;
    font-weight: 500;
}

.perk-image {
    display: block;
    width: 100%;
    aspect-ratio: calc(9/6);
}

/* PERK CARD ENDS */


/* USER PROFILE START */

/* TEMPORARY */
.main__container {
    /* border: 1px solid black; */
}
/* TEMPORARY */

.user-pfp {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 0.5rem; /* temporary */
}

/* USER PROFILE END */


/* USER ACTIVITY START */

.user-activity__date {
    width: 150px;
    margin: auto;
    background-color: rgba(0,184,92,0.1);
    color: #00b85c;
    border-bottom: 2px solid #4C1D95;
}

.user-activity__date-clock {
    width: 20px;
    height: 20px;
}

.user-activity__connector {
    border-right: 3px solid #4C1D95;
    z-index: -1;
}

.user-activity {
    width: 690px;
    /* Temporary */
    background-color: rgba(137,76,255,0.1);
    color: #894cff;
    /* Temporary */
    padding: 40px;
}

.user-activity a {
    color: inherit; /* Temporary */
}

/* USER ACTIVITY END */


/* PERK PAGE START */

.perk-info__container-right {
    width: 60%;
}

.perk-info-image {
    padding: 2px;
    border: 2px solid grey;
}

.perk-info-container {
    max-width: 40em;
}

.perk-name {
    font-weight: 900;
}

/* PERK PAGE END */


/* BADGE CARD STARTS */

    .badge-image {
        display: block;
        /* width: 100px; */
        aspect-ratio: 1;
        margin: auto;
        border-radius: 5px 5px 0 0;
    }

/* BADGE CARD ENDS */


/* MARGINS AND PADDINGS START */

.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.h-20 {
    height: 20px;
}

.br-5 {
    border-radius: 5px;
}

.mar-0 {
    margin: 0;
}

.mar-10 {
    margin: 10px;
}

.mar-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-auto {
    margin-right: auto;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100%;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-0 {
    margin-left: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.pad-2 {
    padding: 2px;
}

.pad-10 {
    padding: 10px;
}

.pt-0 {
    padding-top: 0;
}

.pt-20 {
    padding-top: 20px;
}

.pb-0 {
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

.bolder {
    font-weight: 900;
}


/* MARGINS AND PADDINGS END */


/* LOGIN START */

.provider-img {
    width: 30px;
    aspect-ratio: 1;   
}

.github {
    background-color: #e5e7eb;
    font-weight: 500;
}

.gitlab  {
    background-color: #6666c4;
    color: white !important;
    font-weight: 500;
}

/* LOGIN END */

.grid-perks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
