{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="signup-card">
  
<h1>{% trans "Sign Up" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers" >
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% endif %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="submit-btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<p class="centered">Already have an account? </p>
<p class="centered">{% blocktrans %}<a class="hlinks" href="{{ login_url }}">Log in</a>{% endblocktrans %}</p>



</div>

{% endblock %}
