<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
            
            <title>{% block head_title %}{% endblock %}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="{% static "new_style.css" %}" />
        {% block extra_head %} {% endblock %}
      </head>
    <body>
        <!-- HEADER STARTS -->
        <header class="flex vertical-center bg-white header">
            <div class="container">
                <a href="/">
                <div class="logo-container">
                    <img src="{% static "assets/default-monochrome.svg" %}" class="logo" />
                </div>
            </a>
            </div>
            <div class="flex vertical-center container container__header-right">
                <nav class="flex flex-wrap horizontal-center vertical-center navbar">
                    <a href="/perks/new/" class="flex vertical-center br-5 navbar__item add-perk">Add a Perk</a>
                    <a href="/perks/" class="flex vertical-center navbar__item">
                        Perks
                    </a>
                    <a href="/perks/badges" class="flex vertical-center navbar__item navbar__item--active">
                        Achievements
                    </a>
                </nav>
                <hr class="vertical-separator header__vertical-separator" />
                {% if user.is_authenticated %}
                <a href="/account/profile/">
                <div class="flex vertical-center header__profile">
                    <div class="headerUsername">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div class="container header__profile-image__container">
                        {% if user.avatar %}
                        <img src="/media/{{ user.avatar }}" class="header__profile-image" />
                        {% else %}
                        <img src="{% static "assets/personpfp.jpg" %}" class="header__profile-image" />
                        {% endif %}
                    </div>
                </div>
                </a>
                {% endif %}
            </div>
        </header>
        <!-- HEADER ENDS -->
        {%block body %}

        {% block content %}{% endblock %}
        {% block extra_body %} {% endblock %}

        {% endblock %}
    </body>

</html>
